@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: Inter, "sans-serif";
  --drop-shadow-text: 1px 1px 2px black;
  --color-primary: #5c8ca7;
  --color-secondary: #f9fafb;
  --color-border: #e5e7eb;
  --color-accent: #375b71;
  --animate-scroll-left: scroll-left 20s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
