---
import { Image } from "astro:assets"
---

<div id="tentang-kami" class="container p-4 mx-auto lg:p-8 scroll-mt-10 md:scroll-mt-20">
  <h1 class="text-3xl font-semibold text-center">Tentang Kami</h1>
  <div class="flex flex-col items-center -mt-8 lg:flex-row lg:gap-12">
    <Image src="/image-about.png" alt="image-about" width={600} height={600} class="scale-75 lg:scale-100"/>
    <div class="space-y-2 text-justify -mt-9 text-gray-700">
      <h3 class="mb-2 text-xl text-black font-semibold text-left">RizalCartridge - Original Ink Computer</h3>
      <p>Lancar Jaya Cartridge adalah solusi terpercaya untuk kebutuhan tinta printer Anda, baik baru maupun bekas. Sejak berdiri, kami berkomitmen menghadirkan produk berkualitas tinggi dengan harga yang kompetitif untuk semua kalangan — mulai dari pengguna rumahan hingga perusahaan besar.
      </p>
      <p>
        Kami menyediakan berbagai merek tinta original seperti Epson, HP, Canon, Brother, dan lainnya. Selain itu, kami juga melayani pembelian dan penjualan tinta bekas layak pakai sebagai bagian dari komitmen kami terhadap ekonomi sirkular dan pengelolaan limbah yang lebih baik.
      </p>
      <p>
        Dengan dukungan tim yang berpengalaman dan pelayanan yang ramah, kami siap membantu Anda mendapatkan tinta yang tepat sesuai kebutuhan.
      </p>
    </div>
  </div>
</div>