---
import { Image } from "astro:assets"
---

<div id="tentang-kami" class="p-8 container mx-auto scroll-mt-20">
  <h3 class="text-3xl font-semibold text-center">Tentang Kami</h3>
  <div class="flex items-center gap-12">
    <Image src="/image-about.png" alt="image-about" width={600} height={600}/>
    <div class="text-justify space-y-2">
      <h3 class="text-xl font-semibold mb-2">RizalCartridge - Original Ink Computer</h3>
      <p>Lancar Jaya Cartridge adalah solusi terpercaya untuk kebutuhan tinta printer Anda, baik baru maupun bekas. Sejak berdiri, kami berkomitmen menghadirkan produk berkualitas tinggi dengan harga yang kompetitif untuk semua kalangan — mulai dari pengguna rumahan hingga perusahaan besar.
      </p>
      <p>
        Kami menyediakan berbagai merek tinta original seperti Epson, HP, Canon, Brother, dan lainnya. Selain itu, kami juga melayani pembelian dan penjualan tinta bekas layak pakai sebagai bagian dari komitmen kami terhadap ekonomi sirkular dan pengelolaan limbah yang lebih baik.
      </p>
      <p>
        Dengan dukungan tim yang berpengalaman dan pelayanan yang ramah, kami siap membantu Anda mendapatkan tinta yang tepat sesuai kebutuhan.
      </p>
    </div>
  </div>
</div>