---
import { Image } from "astro:assets"
---
<div id="kontak">
  <div class="container mx-auto p-8 text-white grid grid-cols-3 gap-16">
    <div >
      <Image src="/lancarjaya-logo.png" alt="logo" width={150} height={150}/>
      <p class="text-justify mt-2"><span>Lancar Jaya Cartridge</span> Bergerak Dibidang tinta toner dan cartridge Yang mulai berdiri sejak tahun 2009. Kami melayani segala macam jual beli tinta toner dan cartridge baru dan bekas di seluruh indonesia, melayani lelangang kantor, Berani Bayar Dengan Harga Tinggi</p>
    </div>
    <div class="flex flex-col items-center gap-2">
      <h3 class="mb-2 font-semibold text-lg">Tautan Cepat</h3>
      <ul>
        <li><a href="#beranda">&gt; Beranda</a></li>
        <li><a href="#tentang-kami">&gt; Tentang Kami</a></li>
        <li><a href="#produk">&gt; Produk</a></li>
        <li><a href="#kontak">&gt; Kontak</a></li>
      </ul>
    </div>
    <div>
      <h3 class="text lg font-semibold mb-4">Informasi Kontak</h3>
      <p>Jl. Pemancingan 1 Srengseng 11630 Kembangan Jakarta Barat</p>
      <p>0812-1855-166</p>
      <p>0857-1767-3878</p>
      <p>0812-9477-9609</p>
    </div>
  </div>
  <div class="bg-blue-950 p-2">
    <p class="text-center text-white">&copy;2025 lancar jaya cartridge</p>
  </div>
</div>