---
import { Icon } from "astro-icon/components"
---

<div id="kontak">
  <div class="container grid gap-4 p-8 mx-auto text-white lg:grid-cols-3 grid-col-1 lg:gap-16">
    <div >
      <p class="mt-2 text-justify"><span class="font-semibold">Rizal Cartridge</span> Bergerak Dibidang tinta toner dan cartridge. Kami melayani segala macam jual beli tinta toner dan cartridge baru dan bekas di seluruh indonesia, melayani lelangang kantor, Berani Bayar Dengan Harga Tinggi</p>
    </div>
    <div class="flex flex-col gap-2 lg:items-center">
      <h3 class="text-lg font-semibold lg:mb-2">Tautan Cepat</h3>
      <ul>
        <li><a href="#beranda">&gt; Beranda</a></li>
        <li><a href="#tentang-kami">&gt; Tentang Kami</a></li>
        <li><a href="#produk">&gt; Produk</a></li>
        <li><a href="#kontak">&gt; Kontak</a></li>
      </ul>
    </div>
    <div>
      <h3 class="font-semibold text lg lg:mb-4">Informasi Kontak</h3>
      <div class="flex gap-1">
        <Icon name="ic:baseline-place" class="w-8"/>
        <a href="https://maps.app.goo.gl/9dtKfF3R55WF69Xm7" target="_blank" >
          Jl. Sunan Kalijaga No.110, Larangan Indah, Kec. Larangan, Kota Tangerang, Banten 15154
        </a>
      </div>
      <div  class="flex gap-1 items-center">
        <Icon name="ic:baseline-whatsapp" />
        <a href="https://wa.me/62818606659" target="_blank">
          +62 818 606 659
        </a>
      </div>
    </div>
  </div>
  <div class="p-2 bg-blue-950">
    <p class="text-center text-white">&copy;2025 Rizal cartridge</p>
  </div>
</div>