---
import Image from "astro/components/Image.astro"
---

<div class="bg-primary text-white flex flex-col justify-center items-center p-16 pt-40">
  <h2 class="text-4xl font-bold">Beli atau Jual Tinta? Semua Ada di Sini!</h2>
  <h5 class="text-xl">Dapatkan tinta baru berkualitas & jual tinta bekas Anda dengan mudah. Kami siap antar & jemput ke seluruh Indonesia.</h5>

  <Image src="/tinta-hero.png" alt="tinta" width={600} height={500} class="hover:scale-105 transition-all"/>
  <div class="flex gap-4">
    <button class="p-4 bg-white rounded-xl text-blue-800 font-semibold cursor-pointer">Lihat Produk</button>
    <button class="p-4 border rounded-xl font-semibold cursor-pointer">Hubungi Kami</button>
  </div>
</div>