<div class="mt-8">
  <iframe 
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d991.5742355499173!2d106.7270753382528!3d-6.224522526044495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f0abcfa0fc03%3A0xb4bc9815b80c9fc1!2sJl.%20Sunan%20Kalijaga%20No.110%2C%20Larangan%20Indah%2C%20Kec.%20Larangan%2C%20Kota%20Tangerang%2C%20Banten%2015154!5e0!3m2!1sid!2sid!4v1745481192846!5m2!1sid!2sid" 
    width="600" 
    height="450" 
    style="border:0;" 
    allowfullscreen 
    loading="lazy" 
    referrerpolicy="no-referrer-when-downgrade"
    class="w-full"
    ></iframe>
</div>