---
import { Image } from "astro:assets"
import products from "../data/products.json"
---

<div class="container p-2 mx-auto lg:p-16">
  <h1 class="mb-8 text-xl font-semibold text-center">Product Unggulan Kami</h3>
  <div class="grid grid-cols-2 gap-2 lg:grid-cols-4 lg:gap-12">
    {products.map(product => (
      <div class="flex flex-col items-center justify-center gap-4 p-4 rounded-lg shadow-md">
        <Image src={product.imageUrl} alt={product.name} width={100} height={100} class="h-40 w-fit hover:scale-105"/>
        <p class="font-semibold text-center text-md lg:text-lg line-clamp-1">{product.name}</p>
        <p>{product.price}</p>
          <a href="https://wa.me/62818606659" target="_blank">
            <button class="p-2 px-4 text-sm text-white bg-blue-600 cursor-pointer hover:bg-blue-900 rounded-xl">
            Beli Sekarang
            </button>
          </a>
      </div>
    ))}
  </div>
</div>