---
import { Image } from "astro:assets"
const products = [
  {
    id: 1,
    name: 'Tinta Canon 745/746',
    price: 'Rp. 150.000,-',
    imageUrl: "/products/tinta-canon-745.jpg"
  },
  {
    id: 2,
    name: 'Tinta Brother 5000',
    price: 'Rp. 50.000,-',
    imageUrl: "/products/tinta-brother-5000.png"
  },
  {
    id: 3,
    name: 'Tinta Epson 664',
    price: 'Rp. 50.000,-',
    imageUrl: "/products/tinta-epson-664.png"
  },
  {
    id: 4,
    name: 'Tinta Brother LC563',
    price: 'Rp. 50.000,-',
    imageUrl: "/products/tinta-brother-lc563.png"
  },
  {
    id: 5,
    name: 'Cartridge Canon 810',
    price: 'Rp. 170.000,-',
    imageUrl: "/products/cartridge-canon-810.jpg"
  },
  {
    id: 6,
    name: 'Cartridge Hp 802',
    price: 'Rp. 60.000,-',
    imageUrl: "/products/cartridge-hp-802.png"
  },
  {
    id: 7,
    name: 'Toner Puji Xerox 315',
    price: 'Rp. 400.000,-',
    imageUrl: "/products/toner-puji-xerox.png"
  },
  {
    id: 8,
    name: 'Tinta Epson 003',
    price: 'Rp. 85.000,-',
    imageUrl: "/products/tinta-epson-003.png"
  },
]
---

<div class="container p-2 mx-auto lg:p-16">
  <h1 class="mb-8 text-xl font-semibold text-center">Product Unggulan Kami</h3>
  <div class="grid grid-cols-2 gap-2 lg:grid-cols-4 lg:gap-12">
    {products.map(product => (
      <div class="flex flex-col items-center justify-center gap-4 p-4 rounded-lg shadow-md">
        <Image src={product.imageUrl} alt={product.name} width={100} height={100} class="h-40 w-fit hover:scale-105"/>
        <p class="font-semibold text-center text-md lg:text-lg line-clamp-1">{product.name}</p>
        <p>{product.price}</p>
          <a href="https://wa.me/089600000000" target="_blank">
            <button class="p-2 px-4 text-sm text-white bg-blue-600 cursor-pointer hover:bg-blue-900 rounded-xl">
            Beli Sekarang
            </button>
          </a>
      </div>
    ))}
  </div>
</div>