---
import ProductBrand from "./ProductBrand.astro";
import ProductList from "./ProductList.astro";
---

<div id="produk" class="p-4 space-y-4 scroll-mt-10 md:scroll-mt-24">
  <div class="space-y-4 text-center">
    <h3 class="text-2xl font-semibold md:text-3xl">Produk Kami</h3>
    <p>Kami menyediakan berbagai macam tinta printer untuk semua merek printer terkenal dengan kualitas terjamin.</p>
  <ProductBrand/>
  <ProductList />
</div>