---
import { Icon } from "astro-icon/components";
---
<div class="bg-green-700 fixed bottom-5 right-5 rounded-full p-2">
    <a href=`https://wa.me/62818606659` target="_blank" class="text-white">
        <Icon name="ic:baseline-whatsapp" size={30}/>
    </a>
</div>