---
import {YouTube} from "@astro-community/astro-embed-youtube"
---

<div class="container mx-auto mb-4">
  <YouTube id="https://www.youtube.com/watch?v=azDpbySX8hc&t=5s" class="mx-auto rounded-xl"/>
</div>