---
import HeadSEO from "../components/HeadSEO.astro"
import "../styles/global.css"
---

<!doctype html>
<html lang="id" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico"/>
		<HeadSEO />
		<meta name="google-site-verification" content="1oZcAU_ULfVVrQesvQa6XzbtsE2Rs0TWWMSKRXcGr2o" />
	</head>
	<body class="font-inter">
		<slot />
	</body>
</html>