---
import "../styles/global.css"
---

<!doctype html>
<html lang="id">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico"/>
		<title>Rizal Cartridge</title>
	</head>
	<body class="font-poppins">
		<header class="bg-primary fixed left-0 right-0 top-0 z-1">
			<slot name="header"/>
		</header>
		<main id="beranda">
			<slot />
		</main>
		<footer class="bg-primary">
			<slot name="footer" />
		</footer>
	</body>
</html>